.feynman {
  position: relative;
  padding-top: 100px;
  min-height: 890px;
  background: no-repeat url('../../images/feynman.png');
  background-size: 867px 637px;
  background-position: left bottom;
  background-color: #f2f2f2;
  box-sizing: border-box;
}
